#scale-wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 100px 2vw 20px; /* 顶部留出header空间 */
  position: relative;
  margin: 0 auto;
  max-width: 1920px; /* 最大宽度限制 */
}

@media (max-width: 1200px) {
  .main1 {
    flex-direction: column;
  }
  
  #radar, .a2, .a1 {
    width: 100% !important;
    margin: 10px 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .main1{
    flex-wrap: nowrap;
  }
  .main2 {
    flex-direction: column;
  }

  .a1{
    order: 1;
    margin: 100px 0 10px 0 ;
  }
  
  .a2{
    order: 2;
  }

  #radar{
    order: 3;
    margin: 100px 0 0 10px;
  }
}

@media (min-width: 1600px) {
  #pie-line, #bar-diagram {
      flex-basis: 100%;
  }
}
/* 移动端 */
@media (max-width: 767px) {
  header {
      height: 70px;
      border-radius: 0;
  }
  .main1{
    flex-direction: column;
  }
  
  .title h1 {
      font-size: 1.5rem;
  }
  
  .a1, .a2,#radar  {
      min-height: 600px;
  }

  .map-tooltip {
    font-size: 10px; /* 移动端字体更小 */
    max-width: 150px; /* 限制宽度 */
    line-height: 1.5; /* 提升可读性 */
  }

}
